._dash-undo-redo {
  display: none;
}

html,
body,
#react-entry-point,
#react-entry-point > div,
#_dash-app-content {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
  color: white;
  font-size: 27pt;
  padding-left: 20px;
  margin-top: 8px;
  padding-top: 0;
  padding-bottom: 0;
}

h3 {
  text-align: center;
  font-family: 'Roboto Light', sans-serif;
  color: white;
  font-size: 15pt;
}

#car-speeds-graph, #journey-dist-graph {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
}

#car-speeds-graph {
  height: calc(100% - 70px);
}

#journey-dist-graph {
  height: calc(100% - 50px);
}

body {
  background-image: url('/static/bg_plain.svg');
}

#car-speed-information {
  margin: 0 0 0 0;
}

#journey-selected-stops {
  width: calc(100% - 800px);
  margin-left: 432px;
  margin-right: -8px;
  padding-top: 7px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  text-align: center;
  font-size: 25pt;
  font-family: 'Roboto Light', sans-serif;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.moderate-text #play-checkbox {
  font-size: 15pt;
}

.Select-control {
  border-radius: 15px;
}